<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-img class="header" slot="end" src="assets/images/smm_logo.png"></ion-img>
    <ion-title>convert Lead</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>



    <div class="column">


      <!--  -->

      <div></div><br>
      <form name="leadForm" [formGroup]="leadForm">

        <ion-item style=" width: 100%;">


          <!-- <ion-label position="floating">Recommended Breaker</ion-label>
      <ion-input  formControlName="recommendedBreaker"></ion-input>
    </ion-item>  
    <ion-item > -->
          <ion-label position="floating">Price</ion-label>
          <ion-input formControlName="price"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label position="floating">Warranty</ion-label>
          <ion-select interface="popover" formControlName="warranty">
            <ion-select-option value="6 Months">6 Months</ion-select-option>
            <ion-select-option value="1 Year">1 Year</ion-select-option>
          </ion-select>
        </ion-item>


        <ion-item>
          <ion-label position="floating">Service Frequency<span style="color: red;">*</span> </ion-label>
          <ion-input formControlName="serviceFrequency"></ion-input>
        </ion-item>
        <div *ngIf="!leadForm.controls.serviceFrequency.valid &&
    leadForm.controls.serviceFrequency.touched" class="validator-error">
          service Frequency is mandatory
        </div>
        <!-- <ion-item >
      <ion-label position="floating">Lead</ion-label>
      <ion-input formControlName="lead"></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating">Machine capacity</ion-label>
      <ion-input formControlName="machineCapacity"></ion-input>
    </ion-item> -->

        <ion-item>
          <ion-label position="floating">Follow Up Task</ion-label>
          <ion-input formControlName="followUpTask"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Call Back</ion-label>
          <ion-select interface="popover" formControlName="callBack" (ionChange)='datepicker($event)'>
            <ion-select-option value="yes">YES</ion-select-option>
            <ion-select-option value="no">NO</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf=dateCheck>
          <ion-label position="floating">Date</ion-label>
          <!-- <ion-datetime formControlName='callBackDate' [min]="minDate" max="2040-10-31"
            displayFormat="MMM DD, YY h:mm A" [(ngModel)]="callBackdate"></ion-datetime> -->
            <li-ionic4-datepicker [(ngModel)]="(callBackDate == 'Data inválida')? myDate:callBackDate"
            formControlName='callBackDate' [inputDateConfig]="datePickerObj" >
          </li-ionic4-datepicker>
        </ion-item>
        <ion-item *ngIf=dateCheck>
          <ion-label position="floating">Time</ion-label>
          <!-- <ion-datetime formControlName='callBackDate' [min]="minDate" max="2040-10-31"
            displayFormat="MMM DD, YY h:mm A" [(ngModel)]="callBackdate"></ion-datetime> -->
            <li-ionic-timepicker [(ngModel)]="callBackTime" formControlName='callBackTime' [inputTimeConfig]="timePickerObj"
         ></li-ionic-timepicker>
        
        </ion-item>

        <ion-item>
          <ion-label position="floating">call back status</ion-label>
          <ion-input formControlName="callStatus"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Quote / Invoice</ion-label>
          <!-- <ion-input formControlName="quoteOrInvoice"> -->
          <ion-select interface="popover" formControlName="quoteOrInvoice">
            <ion-select-option value="yes">YES</ion-select-option>
            <ion-select-option value="no">NO</ion-select-option>
          </ion-select>
          <!-- </ion-input> -->

        </ion-item>





      </form>
      <div class="btn">


        <ion-button shape="round" [disabled]=leadForm.invalid (click)="submit('customer')" routerLink="/create-customer"
          routerDirection="forward"> Next <ion-icon name="arrow-redo-circle-outline"></ion-icon>
        </ion-button>
        <ion-button shape="round" [disabled]=leadForm.invalid (click)="submit('lead')">Save & Exit <ion-icon
            name="document-text-outline"></ion-icon>
        </ion-button>

      </div>

    </div>

  </ion-card>

</ion-content>