.contact{
    
    --ion-background-color: #e9ead7;
    margin: 5px;

}
ion-label {

    padding: 0px;
    padding-left: 0px !important;
}

.header {
    width: 3rem;
    float: right;
    height: 3rem;
  }