ion-content {
    font-size: 12px;
}

ion-menu-button {
    color: black;
  }
  
div{
    padding-top: 15px;
    padding: 10px 7px 10px 11px;
    font-size: 12px;
    /* font-family: monospace; */
    line-height: 15px;
}