<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="assets/images/about_us.jpg"> </ion-img>
  <div>
    Welcome to the world of Rock Breakers – built on the brand you’ve known and trusted for more than a decade. With an overwhelming pride in our rich experience, we have used our legendary heritage to engineer the latest generation in Rock breaking solutions… and it’s all here and at your next Door
  </div>
<div>
  At SMM, each and every person plays a role in maintaining our reputation as an organization recognized and respected as being a customer friendly, leading choice Breaking solutions provider. Since 1998 SMM Group has been supplying world class products and services to the Indian Construction Equipment and mining industries and with our current range of Rock Breakers and other accessories.
</div>
<div>
  Group Introduction
  <p>
    SMM Group was started in 1998, Headquartered at Coimbatore , Tamil Nadu.
  </p>
  <p>
    We were into Import of Earth Moving Equipments , Rock breakers, Spare parts.
  </p>
  <p>
    Has an active Customer base of over 3800 nos. in Tamil Nadu , Karnataka and Kerala.
  </p>
  <p>
    SMM Breakers was incorporated in 2010 SMM Breakers has been importing Rock Breakers from overseas.
  </p>
  <p>
    The Manufacturing Facility produces Rock Breakers exclusively for SMM.
  </p>
</div>

</ion-content>
