<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Create Lead</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card >
  
    <!-- <div>
<div id="crumbs">
      <ul>
        <li><a href="#">Step 1</a></li>
      </ul>
    </div>

    </div> -->
    
<div class="column">


    <!--  -->

    <div></div><br>
<form name="leadForm" [formGroup]="leadForm" >
    <ion-item style="width: 100%;">
      
      
      <ion-label position="floating">Customer Name</ion-label>
      <ion-input formControlName="customerName" ></ion-input>
    </ion-item>  
    <ion-item >
      <ion-label position="floating">Company Name</ion-label>
      <ion-input formControlName="companyName"></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating">Address Line 1</ion-label>
      <ion-input formControlName="address"></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating">City</ion-label>
      <ion-input formControlName="city"></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating">State</ion-label>
      <ion-input formControlName="state"></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating">Pincode</ion-label>
      <ion-input formControlName="pincode"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">GSTIN No</ion-label>
      <ion-input formControlName="gstIn"></ion-input>
    </ion-item>  
    <ion-item>
      <ion-label position="floating">Mobile No. 1</ion-label>
      <ion-input formControlName="mobileNo"></ion-input>
    </ion-item>  
    <ion-item>
      <ion-label position="floating">Mobile No. 2</ion-label>
      <ion-input formControlName="mobileNo2"></ion-input>
    </ion-item>  

   
    <ion-item >
      <ion-label position="floating">Mail Id 1</ion-label>
      <ion-input formControlName="mailId"></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating">Mail Id 2</ion-label>
      <ion-input formControlName="mailId2"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Breaking Size Variety</ion-label>
      <ion-input formControlName="breakingSizeVariety"></ion-input>
    </ion-item>  

    <ion-item >
      <ion-label position="floating">Excavator Model</ion-label>
      <!-- <ion-input formControlName="excavatorModel"> -->
        <ion-select  formControlName="excavatorModel">
          <ion-select-option value="Excavator Model 1">Excavator Model 1</ion-select-option>
          <ion-select-option value="Excavator Model 2">Excavator Model 2</ion-select-option>
        </ion-select>
      <!-- </ion-input> -->
      
    </ion-item>


    <ion-item >
      <ion-label position="floating">Backhoe Loader</ion-label>
       <ion-select formControlName="backhoeLoader">
          <ion-select-option value="JCB">JCB</ion-select-option>
          <ion-select-option value="CAT">CAT</ion-select-option>
        </ion-select>
    </ion-item>
    
  
    <ion-item >
      <ion-label position="floating">Machine Capacity</ion-label>
      <ion-input formControlName="machineCapacity"></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating">Machine Make & Model</ion-label>
      <!-- <ion-input formControlName="machineMakeModel"></ion-input> -->
      <ion-select (ionChange)="setBreaker($event)" formControlName="machineMakeModel">
        <ion-select-option value="Hyundai R 110">Hyundai R 110</ion-select-option>
        <ion-select-option value="Hyundai R 140">Hyundai R 140</ion-select-option>
        <ion-select-option value="Tatahitachi EX 110">Tatahitachi EX 110</ion-select-option>
        <ion-select-option value="Tatahitachi EX 140">Tatahitachi EX 140</ion-select-option>
        <ion-select-option value="Tatahitachi EX 130">Tatahitachi EX 130</ion-select-option>
        <ion-select-option value="Zaxies ZX 140">Zaxies ZX 140</ion-select-option>
        <ion-select-option value="Kobelco SK 140">Kobelco SK 140</ion-select-option>
        <ion-select-option value="Komatsu PC 130">Komatsu PC 130</ion-select-option>
        <ion-select-option value="Hyundai R210">Hyundai R210</ion-select-option>
        <ion-select-option value="Hyundai 215">Hyundai 215</ion-select-option>
        <ion-select-option value="Hyundai 220">Hyundai 220</ion-select-option>
        <ion-select-option value="Sany SY 210">Sany SY 210</ion-select-option>
        <ion-select-option value="Sany SY 220">Sany SY 220</ion-select-option>
        <ion-select-option value="Tatahitachi EX 200">Tatahitachi EX 200</ion-select-option>
        <ion-select-option value="Tatahitachi ZX 210">Tatahitachi ZX 210</ion-select-option>
        <ion-select-option value="Tatahitachi ZX 220">Tatahitachi ZX 220</ion-select-option>
        <ion-select-option value="Kobelco SK 210">Kobelco SK 210</ion-select-option>
        <ion-select-option value="Kobelco SK 220">Kobelco SK 220</ion-select-option>
        <ion-select-option value="JCB JS 205">JCB JS 205</ion-select-option>
        <ion-select-option value="JCB JS 215">JCB JS 215</ion-select-option>
        <ion-select-option value="JCB JS 220">JCB JS 220</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item >
      <ion-label position="floating">Existing Breaker</ion-label>
      <ion-select formControlName="existingbreaker">
        <ion-select-option value="Rock Breaker 1">Rock Breaker 1</ion-select-option>
        <ion-select-option value="Rock Breaker 2">Rock Breaker 2</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item >
      <ion-label position="floating">Pipelines</ion-label>
      <ion-select formControlName="pipelines">
        <ion-select-option value="YES">YES</ion-select-option>
        <ion-select-option value="NO">NO</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
    <ion-label position="floating">Lead Assigned</ion-label>
    <ion-select formControlName="leadAssigned">
      <ion-select-option value="Lead1">Lead1</ion-select-option>
      <ion-select-option value="Lead2">Lead2</ion-select-option>
      <ion-select-option value="Lead3">Lead3</ion-select-option>
      <ion-select-option value="Lead4">Lead4</ion-select-option>
    </ion-select>
  </ion-item>
    <ion-item>
    <ion-label position="floating">Lead Assigned To</ion-label>
    <ion-select formControlName="leadAssignedTo">
      <ion-select-option value="Lead1">Lead1</ion-select-option>
      <ion-select-option value="Lead2">Lead2</ion-select-option>
      <ion-select-option value="Lead3">Lead3</ion-select-option>
      <ion-select-option value="Lead4">Lead4</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
  <ion-label position="floating">Converted Status</ion-label>
  <ion-input formControlName="convertedStatus"></ion-input>
</ion-item>
<ion-item >      
  <ion-label position="floating">Recommended Breaker</ion-label>
  <ion-input [(ngModel)]="recommendedBreaker" formControlName="recommendedBreaker"></ion-input>
</ion-item> 

    <div class="btn">

     <ion-button shape="round"> Cancel <ion-icon name="close-circle-outline"></ion-icon></ion-button>
       <ion-button shape="round" (click)="submit('lead')">Save & Exit <ion-icon name="document-text-outline"></ion-icon></ion-button> 
      <ion-button shape="round" (click)="submit('new')"routerLink="/convert-lead" routerDirection="forward"> Next <ion-icon name="arrow-redo-circle-outline"></ion-icon></ion-button>
    </div>

  </form>
  </div>

  </ion-card>

</ion-content>
