ion-avatar {
    background-color: dodgerblue;
    font-size: 18px;
    text-align: center;
    height: 3rem;
    width: 3rem;
    padding: 14px;
    display: inline-block;
}

.header {
    padding-top: 20px;
    background-color: #dcdacded;

}
ion-img {
    width: 3rem;
    float: right;
    height: 3rem;
  }

.customer-name {

    text-align: center;
}

h3 {
    padding: 13px 18px 8px;
}

p {
    padding: 1px;
}