div {
    padding: 18px;
    font-size: 14px;
    color: rgb(0 0 0 / 66%);
}
ion-menu-button {
    color: black;
  }
ion-icon{
    color: #9da0a7;;
    width: 30px;
    height: 30px;
    padding-top: 9px;
}
ion-label {
    margin-top: 17px;
    position: absolute;
}

.header {
    width: 3rem;
    float: right;
    height: 3rem;
  }