<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>

    <ion-icon name="location-outline"></ion-icon>

    <ion-label>Corporate/Regd. Office<br>
      585/1A, Rajaji Nagar,<br>
      Singanallur, Coimbatore.<br>
      Tamil Nadu, India - 641005.</ion-label>
  </div>
  <div>

    <ion-icon name="phone-portrait"></ion-icon>
      <ion-label>+91 99526 37373</ion-label>
  </div>
  <div>

    <ion-icon name="call"></ion-icon>
      <ion-label>+91 0422 4206062</ion-label>
  </div>
  
  <div>
    <ion-icon name="mail"></ion-icon>
    <ion-label> business@smmequipments.com</ion-label>
  </div>
  <div>

    <ion-icon name="logo-chrome"></ion-icon>
    <ion-label>www.smmequipments.com</ion-label>
  </div>
    
  
  


 


 

</ion-content>
